:root {
    --back: #cc9d8f;
    --back00: #9f9c8a;
    --font: #342532;
    --font00: #dbdbdb;
    --a: #782024;
    --display-1: none;
    --display-2: block;
}
@font-face {
    font-family: "arch";
    src: url(ArchitectsDaughter-Regular.ttf);
}
/* a heart */
        .heart {
            height: 50px;
            width: 50px;
            background-color: red;
            margin: 50px;
            transform: rotate(45deg);
            position: relative;
        }
        .heart::before, .heart::after {
            content: "";
            height: 50px;
            width: 50px;
            background-color: red;
            transform: rotate(45deg);
            position: absolute;
            border-radius: 50px;
        }
        .heart::before {
            top: -25px;
        }
        .heart::after {
            left: -25px;
        }
/* end the heart */
#changer {
    position: fixed;
    right: 2vw;
    bottom: 3vw;
}
#one , #two {
    color: var(--back);
    background-color: var(--font00);
    border-radius: 2vw;
    border-style: none;
    width: 10vw;
    height: 5vw;
}
#one {
    display:var(--display-1);
}
#two {
    display:var(--display-2);
}
body {
    background-color: var(--back);
    color: var(--font);
    margin: 0vw;
    font-family: "arch";
    font-size: 24px;
    width: 100vw;
    height: auto;
}
nav {
    background-color: var(--back00);
    color: var(--font);
    position: absolute;
    top: 0vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100vw;
}
.asi-item , .asi-space , .nav-title , .nav-item , .nav-space { 
    margin: 2vw; 
} 
.asi-item , .nav-item {
    color: var(--font);
    font-size: 1.3rem;
    text-decoration: none;
}
aside { 
    background-color: var(--back00); 
    color: var(--font); 
    position: sticky; 
    top: 0vh; 
    display: flex; 
    flex-flow: column wrap; 
    justify-content: flex-start; 
    align-items: flex-start; 
    float: left; 
    height: auto; 
    width: 25vw; 
} 
footer {
    background-color: var(--a);
    color: var(--font00);
    position: relative;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
article {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: 27vw;
    margin-right: 2vw;
    margin-top: 13vh;
    margin-bottom: 2vw;
}
hr {
	width: 75%;
}
@media (orientation: landscape) { 
    aside { 
        display: flex; 
    } 
}
@media (orientation: portrait) {
    aside {
        display: none;
    }
    article {
        margin-left: 2vw;
    }
}
